.second-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 670px;
  width: 1350px;
}

.second-btn {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  height: 80px;
  width: 150px;
  border-radius: 17px;
  box-shadow: 2px 2px 20px #fff;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.second-btn:hover {
  transform: scale(1.1);
  transform: translateY(-3px);
}

.second-btn:active {
  transform: scale(1.05);
  transform: translateY(-1px);
}

.second-heading {
  font-size: 60px;
}

@media (max-width: 1400px) {
  .second-screen {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .second-screen {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .second-screen {
    width: 500px;
  }

  .second-btn {
    height: 60px;
    width: 120px;
  }

  .second-heading {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .second-screen {
    width: 320px;
    height: 580px;
  }

  .second-heading {
    font-size: 40px;
  }
}

@media (max-width: 370px) {
  .second-screen {
    width: 280px;
    height: 500px;
  }

  .second-heading {
    font-size: 30px;
  }
}
